<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>仙哥的个人博客</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.preview.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">仙哥的博客</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                	<% types.forEach(function(value,key){ %>
                    	<li><a href="?tid=<%= value._id%>"><%= value.typename%></a></li>
                	<% }) %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    	<% if(admin){ %>
							<a href="/users">进入后台</a>
					    <% } else { %>
							<a href="/login">登录后台</a>
						<% } %>
                    </li>
                    <li><a href="/reg">注册</a></li>
                    <li><a href="#">关于我</a></li>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                	<% articles.forEach(function(value,key){ %>	
                    	<a href="?tid=<%= tid%>&aid=<%= value._id%>" class="list-group-item"><%= key+1%>.<%= value.articlename%></a>
                	<% }) %>
                </div>
            </div>
            <div class="col-md-9">
                <h3><%=article.articlename%></h3>
                <p><strong>最后修改日期：<%=moment(article.updatedAt).format('YYYY-MM-DD HH:mm:ss')%></strong></p>
                <div id="markdowntohtml">
                    <textarea style="display: none;"><%= article.content%></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- markdown的js文件 -->
    <script src="/editor.md/lib/marked.min.js"></script>
    <script src="/editor.md/lib/prettify.min.js"></script>
    <script src="/editor.md/lib/raphael.min.js"></script>
    <script src="/editor.md/lib/underscore.min.js"></script>
    <script src="/editor.md/lib/sequence-diagram.min.js"></script>
    <script src="/editor.md/lib/flowchart.min.js"></script>
    <script src="/editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
    $(function() {
        editormd.markdownToHTML("markdowntohtml", {
            htmlDecode: "style,script,iframe", // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });
    });
    </script>
</body>

</html>